@model IEnumerable<PhoneBookWebApp.Models.People>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        <b>Search By : </b>
        <select id="SearchBy">
            <option value="FirstName">FirstName</option>
            <option value="LastName">LastName</option>
            <option value="PhoneNumber">PhoneNumber</option>
        </select><br /><br />
        @Html.TextBox("SearchString")
        <input type="button" value="Search" id="SearchBtn" />
    </p>

}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("#SearchBtn").click(function () {
        var searchBy = $("#SearchBy").val();
        var searchValue = $("#SearchString").val();
        var url = "http://localhost:63322/odata/PeopleOData/";
        var query = "$filter=substringof('" + searchValue + "'," + searchBy + ")";
        url += "?" + query;
        $("#Tableone").find(HTMLTableRowElement).remove();
        $.ajax({
            cache: false,
            type: "Get",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers:
            {
                Authorization: 'Basic ' + btoa("Admin" + ':' + "admin")
            },
            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                $('#Table').empty();
                $.each(data.value, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='FirstName'>" + item.FirstName + "</td>" +
                        "<td id='LastName'>" + item.LastName + "</td>" +
                        "<td id='PhoneNumber'>" + item.PhoneNumber + "</td>" +
                        "<td id='Email'>" + item.Email + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                });
                console.log(data);
            },

            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    });
</script>


<div class="panel panel-primary">
    <div class="panel-heading">
        People Using WebApi
    </div>
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                </tr>
            </thead>


        </table>
    </div>
</div>
<form id="myForm">
    <label for="CountriesDropdown"><b>All Countries</b></label>
    <select class="form-control" id="CountriesDropDown" name="CountriesDropDown"></select>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>


<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "http://localhost:63322/api/Country",
            data: "{}",
            headers:
            {
                Authorization: 'Basic ' + btoa("Admin" + ':' + "admin")
            },
            success: function (data) {
                var s = '<option value="0">Please Select a Country</option>';
                for (var i = 1; i < data.length; i++) {
                    s += '<option value="' + data[i].CountryId + '">' + data[i].CountryName + '</option>';
                }
                $("#CountriesDropDown").html(s);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            cache: false,
            type: "GET",
            url: "http://localhost:63322/api/People",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers:
            {
                Authorization: 'Basic ' + btoa("Admin" + ':' + "admin")
            },
            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='FirstName'>" + item.FirstName + "</td>" +
                        "<td id='LastName'>" + item.LastName + "</td>" +
                        "<td id='PhoneNumber'>" + item.PhoneNumber + "</td>" +
                        "<td id='Email'>" + item.Email + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                });
                console.log(data);
            },
            failure: function (data) {
                alert(data.responseText);
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
    });
</script>
